{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
    <div class="col" style="padding: 0 0 0 17%">
        <nav class="navbar navbar-expand-lg bg-dark" style="height: 18rem">
            <div class="container-fluid justify-content-center">
                <div class="img-block">
                    <img src="{{ profile_user.avatar.url }}" alt="hugenerd" width="150" height="150"
                         class="rounded-circle border border-light border-3">
                </div>
                <div class="ps-5">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <span class="nav-link text-light">{{ profile_user.username }}</span>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-secondary ms-4" href="#">Редактировать профиль</a>
                        </li>
                        {% if user.pk != profile_user.pk %}
                            {% if user in profile_user.subscribers.all %}
                                <li class="nav-item">
                                    <form action="{% url "subscription:unsubscription" profile_user.pk %}"
                                          method="POST">
                                        {% csrf_token %}
                                        <input name="subscription" value="profile_user.pk" type="hidden">
                                        <button class="btn btn-secondary ms-4">Отписаться</button>
                                    </form>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <form action="{% url "subscription:subscription" profile_user.pk %}" method="POST">
                                        {% csrf_token %}
                                        <input name="subscription" value="profile_user.pk" type="hidden">
                                        <button class="btn btn-secondary ms-4">Подписаться</button>
                                    </form>
                                </li>
                            {% endif %}

                        {% endif %}
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <span class="nav-link text-light">{{ profile_user.get_total_publications }} публикации</span>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link text-light">{{ profile_user.get_total_subscribers }} подписчиков</span>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link text-light">{{ profile_user.get_total_subscriber }} подписок</span>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <span class="nav-link text-light">{{ profile_user.first_name }}</span>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <span class="nav-link text-light">{{ profile_user.bio }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row mt-5" style="width: 100%;">
            {% for publication in publications %}
                <div class="col-4 d-flex justify-content-around">
                    <div class="card border-0 justify-content-center me-3 mb-3">
                        <a href="{% url 'publications:publication_detail' publication.pk %}">
                            <img src="{{ publication.photo.url }}" class="card-img-top"
                                 style="width: 309px; height: 309px;"
                                 alt="...">
                        </a>
                    </div>
                </div>
            {% empty %}
                <span>Создайте публикацию</span>
            {% endfor %}
            {% if is_paginated %}
                {% include 'partials/pagination.html' %}
            {% endif %}
        </div>
    </div>

{% endblock %}