{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{{% block content %}
    <div class="col bg-dark">
        <div class="row justify-content-center">
            {% for publication in publications %}
                <div class="col-8">
                    <div class="card-header ps-2 pb-3 mt-3">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none">
                            <img src="{{ publication.author.avatar.url }}" alt="hugenerd" width="30" height="30"
                                 class="rounded-circle">

                            <span class="d-none d-sm-inline mx-1 text-white">{{ publication.author }}</span>
                        </a>
                    </div>
                    <div class="card-body border-0 justify-content-center me-3 mb-3" style="">
                        <a href="{% url 'publications:publication_detail' publication.pk %}">
                            <img src="{{ publication.photo.url }}" class="card-img-top" style="width:100%; height: 100%"
                                 alt="...">
                        </a>
                    </div>
                    <div class="card-footer">
                        <div>
                            <a href="#"><i class="text-white fa-2xl fa-regular fa-heart"></i></a>
                            <a href="#"><i class="text-white pb-4 ps-2 fa-2xl fa-regular fa-message"></i></a>
                        </div>
                        <span class=" text-white">{{ publication.discriptions }}</span>
                    </div>
                </div>
            {% empty %}
                <span>Создайте публикацию</span>
            {% endfor %}
        </div>
    </div>
{% endblock %}